 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 


main {
  background-color: rgba(0, 0, 0, 0.858);
  height: 100vh;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.cardd1,
.second {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(65, 73, 86, 0.75);
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  height: 350px;
  position: relative;
}


.cardd1 img{
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgb(78, 84, 92);
border-radius: 50%;
padding: 5px;
width: 35px;
margin-left: 20px;
margin-top: 20px;
}

.cardd1 h3 {
  color: white;
  margin-left: 17px;
  margin-top: 20px;
}

.cardd1 p {
  color: silver;
  margin-top: 15px;
  margin-left: 17px;
  font-size: 15px;
}

.cardd1 .btns,
.cardd1 .su {
  margin-top: 25px;
  margin-left: 16px;
}

.cardd1 .btns button {
  padding: 10px 20px 10px 20px;
  margin: 0 12px 0 12px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgb(78, 84, 92);
  border-radius: 50%;
  border: none;
  color: silver;
  transition: 0.3s;
}

.cardd1 .btns button:focus {
  background-color: orange;
  color: white;
  transition: 0.3s;
}

.cardd1 .su {
  border: none;
  width: 330px;
  height: 36px;
  margin-top: 30px;
  margin-left: 35px;
  border-radius: 50px;
  color: white;
  background-color: orange;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  transition: 0.3s;
}

.cardd1 .su:hover {
  color: orange;
  background-color: white;
  transition: 0.3s;
}

.second .you {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgb(78, 84, 92);
  width: 240px;
  height: 28px;
  padding-left: 28px;
  padding-top: 2px;
  border-radius: 50px;
  color: orange;
  font-weight: 600 ;
  margin-left: 77px;
  margin-top: 20px;
}

.second .we {
  text-align: center;
  color: silver;
  width: 360px;
 font-size: 17px;
 margin-left: 23px;
}

.second h3{
color: white;
text-align: center;
font-size: 30px;
}

.second img {
  margin-top: 30px;
  margin-left: 110px;
}

.second{
  display: none;
  }